body {
    background: url('bg.jpg');
    background-size: cover;
    color: white;
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.content {
    background-color: rgba(0, 0, 0, 0);
    text-align: left;
    position: absolute;
    left: 100px;
    bottom: 70px;
}

h1 {
    font-size: 46px;
    font-weight: 300;
    margin: 50px 10px;
    cursor: default;
}

p {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 10px;
    cursor: default;
}

.face {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 4;
    image-rendering: pixelated;
}

.pre {
    position: absolute;
    z-index: 4;
    image-rendering: pixelated;
    right: 400px;
    bottom: 260px;

}


.container {
    width: 400px;
    height: 100px;
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    width: 0;
}


.green {
    color: rgb(0, 255, 174);
}

.status {
    color: #acacac;
    font-size: 4px;
    font-weight: 100;
}


#ver {
    font-weight: 100;
    display: inline-block;
}

#visits {
    display: inline-block;
}

.background_ {
    position: absolute;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 8%, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 1) 100%);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.background_0 {
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, .9) 8%, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, .3) 100%);
    width: 100%;
    height: 100%;

}

.button-container {
    margin: 20px 0;
    justify-content: left;
}

.button {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    font-size: 16px;
    border-radius: 25px;
    transition: .2s;
}

.button:hover {
    background-color: rgb(255, 255, 255);
    color: #000;
}

.download {
    display: inline-block;
    padding: 10px 60px;
    margin: 20px 20px 0px 0px;
    text-align: center;
    background-color: rgba(0, 255, 174, 0.3);
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    border-radius: 60px;
    transition: .6s;
}


.download:hover {
    background-color: rgb(0, 255, 174);
    color: #000;
}

.donate {
    display: inline-block;
    padding: 10px 30px;
    margin: 20px 10px;
    text-align: center;
    background-color: rgba(227, 227, 227, 0.2);
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    border-radius: 60px;
    transition: .6s;
}

.donate:hover {
    background-color: rgb(255, 255, 255);
    color: #000;
}

i {
    font-family: sans-serif;
}
#Black
{
    position: fixed;
    background-color: rgba(0, 0, 0, .6);
    height: 2000px;
    z-index: 50;
    width: 2000px;
}

#Timetable
{
    display: none;
}
#Giftitem
{
    display: none;
}
#Requir
{
    display: none;
}

#infoWindow {
    display: block;
    position: fixed;
    color: #000;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    z-index: 9999;
  }

  #infoWindow table {
    border-collapse: separate;
    border-spacing: 10px;
  }

  #infoWindow th {
    color: #FFF;
    background-color: #ffb33a;
    border-radius: 5px;
    font-weight: 300;
    padding: 0 15px;
  }

  #infoWindow a {
    color: #000000;
    text-decoration: none;
    background-color: #3affba;
    border-radius: 5px;
    font-weight: 300;
    padding: 0 15px;
  }


  #closeButton {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    transform: scale(1.2);
  }
  


@media only screen and (max-width: 800px) {

    .download {
        position: absolute;
        padding:  28px;
        bottom: 30px;
        left: -50px;
        border-radius: 15px;

    }
    .donate
    {
        position: absolute;
        padding:  40px;
        bottom: 10px;
        left: 100px;
        border-radius: 15px;
    }
    .button {
        font-size: 6px;
        display: none;
        padding: 0px 30px;
    }
    #pc_dw
    {
        display: none;
    }

    .Head_ {
        text-align: left;   
        position: absolute;
        bottom: 350px;
    }

    .Head_ h1{
        text-align: left;   
        position: absolute;
        bottom: 150px;
    }

    .info_ {
        position: absolute;
        bottom: 220px;
        transform: translateX(-50px);
    }

    .Download_ {
        align-items: center;
        position: absolute;
        bottom: 50px;
    }

    body {
        background: url('bg.jpg');
        background-size: cover;
        color: white;
        font-size: 16px;
        font-family: 'Kanit', sans-serif;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        scroll-behavior: smooth;
    }

    .button-container {
        font-size: 14px;
    }

    .content {
        bottom: 0;

    }



    h1 {
        font-size: 16px;
    }

    p {
        font-size: 6px;
    }

    .background_ {
        position: absolute;
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 8%, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 1) 100%);
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .face {
        right: 0;
        bottom: 0;
        width: 100px;
    }
    .pre {

        transform: scale(0.5);
        right: 130px;
        bottom: 180px;
    
    }

    .container {
        width: 200px;
        height: 100px;
        overflow: scroll;
    }
}