

*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Kanit', sans-serif;
}
.donate a
{
	background:#ff8000;
	padding:20 50;
	text-align:center;
	border-radius:50px;
	transform:scale(.5);
	z-index:20;
	position:absolute;
    margin:auto;
    color:#fff;
    bottom:3;
    width:100%;
    transition:.2s;

}
.donate a:hover
{
	background:#ffffff;
	color:#ff8000;

}

.donate  h3
{
	text-transform:uppercase;
	text-decoration:none;
	display: inline-block;
	padding:0 10;
	font-size:1cm;
	
}

body
{
	background:#ff9800;
}

section
{
	position:relative;
	width:100%;
	height:100vh;
	overflow:flex;
	justify-content: flex-start;
	align-item:center;
	padding:100px 150px;
	transform:scale(.78);
}
section header
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	padding:40px 50px;
	display:flex;
	justify-content: space-between;
	align-item:center;
	
}
section header .logo
{
	position:relative;
	font-size:.5cm;
	color:#fff;
	font-weight:700;
	text-transform:uppercase;
	text-decoration:none;
	letter-spacing:1px;
	z-index:3;
	padding:5px 10px;
	border-radius:10px;
	background:rgb(0,0,0,0.6);
	border:1px solid #fff;
}
.bg
{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
	object-fit:cover;
	background-position:center;
	z-index:2;
	filter: blur(8px);
	-webkit-filter: blur(3px);
}

.content .mod_puls
{
	background:rgb(0,0,0,0.3);
	border-radius:5px;
	padding:0 10px;
	color:#fff;
}

.pre
{
	position:absolute;
	right:240;
	bottom:270;
	z-index:4;
	image-rendering: pixelated;
}
.face
{
	position:absolute;
	right:0;
	bottom:0;
	z-index:4;
	image-rendering: pixelated;
}
.content p
{
	background:rgb(255,255,255,.4);
	padding:5px;
	border-radius:5px;
}

.content
{
	bottom:0px;
	position:absolute;
	z-index:5;
	max-width:600px;
}
.content h2 span
{
	color:#fff;
	text-shadow: 0 0 50px #000, 0 0 5px #000;
	font-weight:800;
	font-size:1.5cm;
	letter-spacing:5px;
}

.content a
{
	display:inline-block;
	padding:10px 20px;
	background:rgb(255,255,255,.4);
	text-decoration:none;
	text-transform:uppercase;
	font-weight:700;
	letter-spacing:2px;
	color:#000;
	margin:50px 0;
	transition:.2s;
}
.content a:hover
{
	background:rgb(255,255,255,1);
	color:#ff9800:

}
@media screen and (max-device-width:768px)
{


	.donate
	{
        position:relative;
        bottom:-100;
	}
	

	.donate h3
	{
		font-size:3cm;
	}

	*
	{
		margin:0;
		padding:0;
		box-sizing: border-box;
		font-family: 'Kanit', sans-serif;
	}

	body
	{
		background:#ff9800;
	}

	section
	{
		position:relative;
		width:100%;
		height:100vh;
		overflow:flex;
		justify-content: flex-start;
		align-item:center;
		padding:100px 150px;
		transform:scale(.95);
	}
	section header
	{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		padding:40px 50px;
		display:flex;
		justify-content: space-between;
		align-item:center;
	}
	section header .logo
	{
		position:relative;
		font-size:1.5cm;
		color:#fff;
		font-weight:700;
		text-transform:uppercase;
		text-decoration:none;
		letter-spacing:1px;
		z-index:3;
		padding:5px 20px;
		border-radius:10px;
		background:rgb(0,0,0,0.6);
		border:1px solid #fff;
	}
	.bg
	{
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		height:100%;
		object-fit:cover;
		background-position:center;
		z-index:2;
		filter: blur(8px);
		-webkit-filter: blur(3px);
	}

	.content .mod_puls
	{
		background:rgb(0,0,0,0.3);
		border-radius:5px;
		padding:0 10px;
		color:#fff;
	}

	.pre
	{
		position:absolute;
		right:350;
		bottom:1145;
		z-index:4;
		image-rendering: pixelated;
		width:180;
	}
	.face
	{
		position:absolute;
		right:40;
		bottom:1145;
		z-index:4;
		image-rendering: pixelated;
		width:250;
	}
	.content p
	{
		background:rgb(255,255,255,.4);
		padding:5px;
		border-radius:5px;
		font-size:1.1cm;
	}

	.content
	{
		left:0;
		bottom:-10;
		position:absolute;
		z-index:5;
		max-width:1200px;
		margin:30;
	}

	.content h2 span
	{
		color:#fff;
		text-shadow: 0 0 50px #000, 0 0 5px #000;
		font-weight:800;
		font-size:3.5cm;
		letter-spacing:5px;
	}
	.content h1
	{
		font-size:1.3cm;
	}
	.content h2
	{
		font-size:1.15cm;
	}

	.content a
	{
		display:inline-block;
		padding:10px 20px;
		background:rgb(255,255,255,.4);
		text-decoration:none;
		text-transform:uppercase;
		font-weight:700;
		letter-spacing:2px;
		color:#000;
		margin:50px 0;
		transition:.2s;
		font-size:1.5cm;
		border-radius:5px;
	}
	.content a:hover
	{
		background:rgb(255,255,255,1);
		color:#ff9800:

	}

}
